.head{
background-image:url(../images/backgroundimg1.png) ;
background-size: cover;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
h1{
margin-top: 15rem;
margin-bottom: 2rem;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 4.8px;
text-transform: uppercase;
color: #FFFFFF;
}
.sub_title{
display: flex;
align-items: center;
text-align: center;
letter-spacing: 6.82px;
color: #FFFFFF;
}
.input{
display: flex;
align-items: center;
text-align: center;
letter-spacing: 2.8px;
color: #999999;
width: 653px;
height: 63px;
left: 560px;
top: 389px;

}
.scroll{
display: flex;
align-items: center;
text-align: center;
letter-spacing: 2.8px;
color: #FFFFFF;    
}
.fa-chevron-down{
color: #FFFFFF;
margin-bottom: 5rem;
margin-left: 2.5rem;
}
.btn{
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.4px;
text-transform: uppercase;
color: #FFFFFF; 
background-color: #5474FD;   
}
.nav{
width:100%; 
background-color: #5474FD;
display: flex;
flex-direction: row;
justify-content: space-between;
position: relative;
align-items: center;
}
.navbar-links {
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
height: 100%;
display: flex;
text-transform: uppercase;
color: #FFFFFF;
}
.navbar-links ul {
margin: 0;
padding: 0;
display: flex;
  }
  
.navbar-links li {
list-style: none;
}
  
.navbar-links li a {
text-decoration: none;
color: white;
padding: 1rem;
display: block;
}
.page1_2{
color: #FFFFFF;
}
/* page2 */
.page2{
background-image: url(../images/backgroundimg2.png);
background-size: cover;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
overflow: hidden;
}
.info{
max-width: 560px;
width: 100%;
margin: 10rem;
display: flex;
flex: wrap;
flex-direction: column;
justify-content: flex-start;
}
.head1{
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 26px;
display: flex;
align-items: center;
color: #FFFFFF;
width: 100%;    
margin: 20px;
}
.para{
display: flex;
align-items: center;
letter-spacing: 1.6px;
width: 100%;
margin: 20px;
color: #E8E8E8;    
}
.btn_1{
max-width: 228px;
width: 100%;
height: 63px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 1.2px;
color: #FFFFFF;
background-color: #5474FD;
border: none;
margin: 20px;
margin-bottom: 10rem;
}
.image{
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-gap: 10px;
padding: 10px;
max-width: 400px;
width: 100%;
height: 490px;
}
.img_1{
max-width: 350px;
width: 100%;
height: 220px;
grid-column-start: 1;
grid-column-end: 9;
grid-row-start: 1;
grid-row-end: 2;
}
.img_2{
max-width: 347px;
width: 100%;
height: 220px;
grid-column-start: 2;
grid-column-end: 10;
grid-row-start: 2;
grid-row-end: 3;
}
.search{
width: 100%;
}
/* page 3*/
.page3 {
width: 100%;
height: 70vh;
background-image: url(../images/backgroundimg3.png);
background-size: cover;
display: grid;
grid-template-columns: repeat(6, 1fr) ;
grid-template-rows: repeat(6, 1fr);
}
.info1{
grid-column-start: 2;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 6;
max-width: 543px;
width: 100%;
height: 374px;
background: #232323;
mix-blend-mode: normal;
opacity: 0.9;
margin: 100px;
display: flex;
flex-direction: column;
justify-content: space-around;  
}
.page3_1{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
letter-spacing: 1.5px;
color: #E8E8E8;
margin: 20px;
}
.page3_2{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #FFFFFF;
margin: 20px;
}
.page3_3{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
color: #E8E8E8;
margin: 20px;
}
.btn_2{
max-width: 228px;
width: 100%;
height: 63px;
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 1.2px;
color: #FFFFFF;
background-color: #5474FD;
border: none;
margin: 20px;
}
/* page4*/ 
.page4 {
width: 100%;
height: 70vh;
background-image: url(..//images/backgroundimg4.png);
background-size: cover;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(5, 1fr);
margin-top: 10px;
}
.info2 {
grid-column-start: 4;
grid-column-end: 6;
grid-row-start: 2;
grid-row-end: 5;
max-width: 543px;
width: 100%;
height: 374px;
background: #232323;
mix-blend-mode: normal;
opacity: 0.9;
margin: 100px;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.page4_1{
font-size: 20px;
letter-spacing: 1.5px;
color: #E8E8E8;
margin: 20px;
}
.page4_2{
font-size: 20px;
margin: 20px;
text-transform: capitalize;
color: #FFFFFF;
}
.page4_3{
font-size: 16px;
color: #E8E8E8;
margin: 20px;
}
.btn_3{
max-width: 228px;
width: 100%;
height: 63px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 1.2px;
color: #FFFFFF;
background-color: #5474FD;
border: none;
margin: 20px;
}
.page5{
background-image: url(..//images/backgroundimg5.png);
background-size: contain;
height: 70vh;
width: 100%;
}
.head2{
font-size: 35px;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
padding-top: 100px;
padding-bottom: 50px;
}
.info3{
display: flex;
flex-direction: row;
margin-left: 330px;
}
.page5_1{
display: flex;
align-items: center;
justify-content: center;
color: #FFFFFF;
font-size: 20px;
width: 150px;
height: 26px;
margin-left: 62px;
margin-top: 49px;
}
.page5_2{
color: #FFFFFF;
max-width: 580px;
width: 100%;
margin-left: 65px;
display: flex;
align-items: center;
justify-content: center;
}
.fa-quote-left{
height: 150px;
width: 100px;
color: #5474FD;
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 26px;
}
.footer{
background-image: url(../images/footer.png);
background-size: cover;
display: flex;
width: 100%;
height: 270px;
flex-direction: column;
}
.head3{
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
letter-spacing: 3.36px;
padding-top: 30px;
}
.info4{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
letter-spacing: 1.6px;
color: #FFFFFF;
}
.img_4{
width: 166px;
height: 16px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 760px;
}
/* MEDIA QUERIES*/

@media screen and (max-width: 1000px) {
    .input {
    display: flex;
    align-items: center;
    text-align: center;
    color: #999999;
    width: 300px;
    height: 30px;
    }
    .btn {
    display: flex;
    font-size: 5px;
    letter-spacing: 0px;
    line-height: 5px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    height: 20px;
    }
    .info {
    max-width: 360px;
    width: 100%;
    height: 600px
    }
    .btn_2 {
    height: 20px;
    font-size: small;
    width: 100px;
    }
    .btn_1 , .btn_3 {
    height: 20px;
    width: 120px;
    font-size: 10px;
    }
}
@media screen and (max-width: 600px) {
    .info3{
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: row;
}    
.btn_1, .btn_3{
    height: 10px;
    width: 100px;
    font-size: 5px;  
}
}
